# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

django
djangorestframework
psycopg2-binary
python-dotenv 
datapunt-django-snapshot
uWSGI
sentry-sdk
